# You can create up to 4 different types of tickets
# This will not change their internal refs, but they will be displayed as the following
# If the name you want to use is contained below, use that env variable.
# If not, put it in the env variable which most closely matches the ticket type you want to use.
# Both the quantity and name of the tickets need to be changed in the .env file
TICKETTYPES = 4
TICKETTYPE1 = "overnight-valet"
TICKETTYPE2 = "overnight-self"
TICKETTYPE3 = "daily-valet"
TICKETTYPE4 = "daily-self"
TICKETTYPE1COLOR = "blue"
TICKETTYPE2COLOR = "pink"
TICKETTYPE3COLOR = "green"
TICKETTYPE4COLOR = "green"

# This is the number of minutes that will be used to determine the color of requests
MINUTES_ELAPSED_WARNING = 1
MINUTES_ELAPSED_DANGER = 2

# Should completed requests have their own style?
STYLE_COMPLETED = true

# Thresholds for the number of checkouts before warnings are displayed
CO_THRESHOLD_WARNING = 20
CO_THRESHOLD_DANGER = 40


# Path: client\.env.EXAMPLE
