input[type="text"] {
	text-align: center;
	font-size: 100px;
}
.car-log-ticket-input {
	text-align: center;
	font-size: xx-large;
}
.car-log-ticket-input::-webkit-input-placeholder {
	text-align: center;
	font-size: xx-large;
}

.car-log-ticket-input::-moz-placeholder {
	text-align: center;
	font-size: xx-large;
}
